@import 'overrides';
@import 'background';
@import 'icons';

.beige {
    color: #D47D8B !important;
}

a, .dark-blue {
    color: #3E6C7F;
}

.font-family-poiret-one {
    font-family: 'Poiret One', Helvetica !important;
}

.title-spacing {
    letter-spacing: 0.4rem;
}

.icon-sm {
    height: 20px;
    width: 30px;
}

.icon-md {
    height: 30px;
    width: 30px;
}

.github-icon:before {
    content: "\f124";
}

.margin-left-8 {
    margin-left: 8px;
}

.margin-bottom-8 {
    margin-bottom: 8px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}